#map-frame {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 800px;
    border: 12px solid black;
}

#map-img {
    position: absolute;
}

.cursor-pointer {
    cursor: move;
}

body {
    display: flex;
}

#map-controls {
    padding: 0px 8px;
}

.other-controls {
    display: flex;
    justify-content: center;
}

.horizontal-controls {
    display: flex;
    justify-content: space-between;
    width: 84px;
}
