.center-of-screen {
    position: relative;
    width: 800px;
    height: 600px;
    background-image: url('memchu.jpg');
    margin-left: auto;
    margin-right: auto;
    top: calc(0.5 * calc(100vh - 600px));
}

.caption {
    position: absolute;
    width: 100%;
    background-color: #008800;
    bottom: 0;
    padding: 4px 0;
    opacity: 50%;
}

.caption-text {
    display: inline;
    padding: 4px;
    color: white;
    font-family: sans-serif;
}